# src/test/regress/serial_schedule
# This should probably be in an order similar to parallel_schedule.
test: tablespace
test: boolean
test: char
test: name
test: varchar
test: text
test: int2
test: int4
test: int8
test: oid
test: float4
test: float8
test: bit
test: numeric
test: txid
test: uuid
test: enum
test: money
test: rangetypes
test: pg_lsn
test: regproc
d_test: char varchar text strings
d_test: int2 int4 int8 float4 float8 numerology
test: point
test: lseg
test: line
test: box
test: path
test: polygon
test: circle
test: date
test: time
test: timetz
test: timestamp
test: timestamptz
test: interval
test: inet
test: macaddr
test: macaddr8
test: tstypes
d_test: point lseg line box path polygon circle geometry
d_test: interval time timetz timestamp timestamptz horology
test: regex
test: oidjoins
d_test: enum rangetypes type_sanity
d_test: enum opr_sanity
test: misc_sanity
test: comments
test: expressions
test: create_function_1
d_test: create_function_1 create_type
d_test: create_function_1 create_type create_table
d_test: create_function_1 create_type create_table create_function_2
d_test: create_function_1 create_type create_table copy
test: copyselect
test: copydml
test: insert
test: insert_conflict
d_test: create_function_1 create_type create_table create_misc
d_test: create_function_1 create_type create_table create_function_2 create_operator
test: create_procedure
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index
d_test: create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index_spgist
d_test: int8 create_function_1 create_type create_table create_function_2 create_misc create_operator create_view
d_test: create_function_1 create_type create_table create_function_2 create_misc create_operator index_including
d_test: create_function_1 create_type create_table create_function_2 create_misc create_operator index_including_gist
test: create_aggregate
test: create_function_3
test: create_cast
test: constraints
d_test: create_function_1 triggers
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index select
d_test: int4 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index inherit
test: typed_table
test: vacuum
test: drop_if_exists
test: updatable_views
test: roleattributes
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index create_am
test: hash_func
d_test: create_function_1 create_type create_table copy errors
test: infinite_recurse
ignore: sanity_check
d_test: int4 int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index inherit select_into
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index select select_distinct
d_test: int4 int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index select select_distinct_on
test: select_implicit
test: select_having
d_test: text int4 int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index sanity_check_2 subselect
d_test: char varchar text int4 int8 float8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index sanity_check_2 union
test: case
d_test: text int2 int4 int8 float8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index inherit sanity_check_2 join
d_test: varchar int4 int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index create_aggregate sanity_check_2 aggregates
d_test: int8 create_function_1 create_type create_table copy transactions
ignore: random
d_test: create_function_1 create_type create_table copy random
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index portals
d_test: int8 numeric point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index arrays
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index btree_index
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index hash_index
test: update
test: delete
test: namespace
test: prepared_xacts
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index brin
test: gin
test: gist
test: spgist
d_test: int8 privileges
test: init_privs
test: security_label
test: collate
test: matview
d_test: create_function_1 lock
test: replica_identity
test: rowsecurity
test: object_address
d_test: create_function_1 create_type create_table copy tablesample
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index groupingsets
test: drop_operator
test: password
test: identity
test: generated
test: join_hash
test: create_table_like
test: alter_generic
test: alter_operator
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index select misc
test: async
test: dbsize
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index misc_functions
test: sysviews
d_test: int8 tsrf
test: tid
d_test: create_function_1 create_type create_table copy tidscan
d_test: int8 create_function_1 create_type create_table copy create_function_2 create_misc create_operator create_view matview tablesample rules
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index psql
test: psql_crosstab
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index create_index_spgist brin amutils
test: stats_ext
d_test: int4 int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index select sanity_check_2 misc select_parallel
d_test: create_function_1 create_type create_table copy write_parallel
test: publication
test: subscription
d_test: int8 create_function_1 create_type create_table copy create_function_2 create_misc create_operator create_view select_views
d_test: create_function_1 create_type create_table copy create_misc portals_p2
test: foreign_key
d_test: create_function_1 create_type create_table copy cluster
test: dependency
test: guc
test: bitmapops
test: combocid
d_test: create_function_1 create_type create_table copy tsearch
test: tsdicts
d_test: create_function_1 foreign_data
d_test: int4 create_function_1 create_type create_table copy window
test: xmlmap
test: functional_deps
test: advisory_lock
d_test: create_function_1 indirect_toast
d_test: create_function_1 create_type create_table copy equivclass
test: json
d_test: create_function_1 create_type create_table copy jsonb
test: json_encoding
test: jsonpath
test: jsonpath_encoding
test: jsonb_jsonpath
d_test: int8 create_function_1 create_type create_table copy plancache
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index limit
d_test: int4 int8 create_function_1 create_type create_table copy plpgsql
test: copy2
test: temp
test: domain
d_test: int4 int8 rangefuncs
d_test: create_function_1 create_type create_table copy prepare
test: conversion
test: truncate
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy insert create_misc create_operator create_index alter_table
test: sequence
d_test: int4 int8 polymorphism
d_test: int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index rowtypes
d_test: int4 int8 returning
test: largeobject
d_test: int4 int8 point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index inherit sanity_check_2 with
d_test: create_function_1 create_type create_table xml
d_test: int4 int8 partition_join
d_test: insert partition_prune
test: reloptions
d_test: create_function_1 create_type create_table copy insert hash_part
test: indexing
test: partition_aggregate
test: partition_info
test: event_trigger
test: fast_default
d_test: point polygon circle create_function_1 create_type create_table create_function_2 copy create_misc create_operator create_index stats
