# src/pl/plpython
# Python2 !!!!!
path: src/pl/plpython/sql
dbname: pl_regression
test: plpython_schema
d_test: plpython_schema plpython_populate
d_test: plpython_schema plpython_populate plpython_test
d_test: plpython_schema plpython_populate plpython_test plpython_do
d_test: plpython_schema plpython_populate plpython_test plpython_global
d_test: plpython_schema plpython_populate plpython_test plpython_import
d_test: plpython_schema plpython_populate plpython_test plpython_spi
d_test: plpython_schema plpython_populate plpython_test plpython_newline
d_test: plpython_schema plpython_populate plpython_test plpython_void
d_test: plpython_schema plpython_populate plpython_test plpython_call
d_test: plpython_schema plpython_populate plpython_test plpython_params
d_test: plpython_schema plpython_populate plpython_test plpython_setof
d_test: plpython_schema plpython_populate plpython_test plpython_record
d_test: plpython_schema plpython_populate plpython_test plpython_trigger
d_test: plpython_schema plpython_populate plpython_test plpython_record plpython_types
d_test: plpython_schema plpython_populate plpython_test plpython_error
d_test: plpython_schema plpython_populate plpython_test plpython_ereport
d_test: plpython_schema plpython_populate plpython_test plpython_unicode
d_test: plpython_schema plpython_populate plpython_test plpython_quote
d_test: plpython_schema plpython_populate plpython_test plpython_record plpython_composite
d_test: plpython_schema plpython_populate plpython_test plpython_subtransaction
d_test: plpython_schema plpython_populate plpython_test plpython_transaction
d_test: plpython_schema plpython_populate plpython_test plpython_drop