# src/interfaces/ecpg/test
path: src/interfaces/ecpg/test
dbname: ecpg1_regression,ecpg2_regression
role: regress_ecpg_user1,regress_ecpg_user2
encoding: SQL_ASCII
s_test: compat_informix/dec_test: -C INFORMIX
s_test: compat_informix/charfuncs: -C INFORMIX
s_test: compat_informix/rfmtdate: -C INFORMIX
s_test: compat_informix/rfmtlong: -C INFORMIX
s_test: compat_informix/rnull: -C INFORMIX -r no_indicator
s_test: compat_informix/sqlda: -C INFORMIX
s_test: compat_informix/describe: -C INFORMIX
s_test: compat_informix/test_informix: -C INFORMIX
s_test: compat_informix/test_informix2: -C INFORMIX
s_test: compat_oracle/char_array: -C ORACLE
test: connect/test2
test: connect/test3
test: connect/test4
test: connect/test5
test: pgtypeslib/dt_test
test: pgtypeslib/dt_test2
test: pgtypeslib/num_test
test: pgtypeslib/num_test2
test: pgtypeslib/nan_test
s_test: preproc/array_of_struct: -c
s_test: preproc/pointer_to_struct: -c
s_test: preproc/autoprep: -r prepare
test: preproc/comment
test: preproc/cursor
test: preproc/define
test: preproc/init
s_test: preproc/strings: -i
test: preproc/type
test: preproc/variable
test: preproc/outofscope
test: preproc/whenever
test: preproc/whenever_do_continue
test: sql/array
test: sql/binary
test: sql/bytea
test: sql/code100
test: sql/copystdout
test: sql/createtableas
test: sql/define
test: sql/desc
test: sql/sqlda
test: sql/describe
test: sql/dynalloc
test: sql/dynalloc2
test: sql/dyntest
test: sql/execute
test: sql/fetch
test: sql/func
test: sql/indicators
s_test: sql/oldexec: -r questionmarks
test: sql/quote
test: sql/show
test: sql/insupd
test: sql/parser
test: sql/prepareas
test: thread/thread
test: thread/thread_implicit
test: thread/prep
test: thread/alloc
test: thread/descriptor
test: sql/twophase
